@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ulgMasterView.cshtml";
}

@section Styles {
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/layout.css" >
	@Umbraco.Field(
		"sectionStyle", 
		recursive: true, 
		insertBefore: "&lt;link rel=&quot;stylesheet&quot; href=&quot;/css/", 
		insertAfter: "&quot;&gt;")

	}

@section MetaData {
	<!-- eGov Meta Data : Mandatory -->
	<!-- this will make your html5 page invalid! -->
    <meta name="DC.Subject" content="@Umbraco.Field("metaSubject")">
    <meta name="DC.Date" content="@Umbraco.Field("updateDate", formatAsDate: true)" >
    <meta name="DC.Creator" content="@Umbraco.Field("metaCreator", recursive: true)" >
    <meta name="DC.Publisher" content="@Umbraco.Field("metaPublisher", recursive: true)" >
    <meta name="DC.Title" content="@Umbraco.Field("title")" >
    <!-- end eGov -->
	
	@RenderSection("MetaData",false)
	
	<meta name="robots" content="@Umbraco.Field("metaRobots", recursive: true)">
}

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h1><a href="/">@Umbraco.Field("siteName", recursive: true)</a></h1>
		</div>				
        <div class="col-lg-6">
            <div class="pull-right search-box">
                <form class="form-search" method="get" action="/search">
                    <input type="text" class="input-medium search-query" name="q">
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>
        </div>
	</div>
	<div class="row">
		<div class="col-lg12">
			@*Replace with partial view *@
			@Umbraco.RenderMacro("ulg.sitesections")
		</div>
	</div>
</div>
		
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("ulgMegaMenuPartial") 
        </div>
    </div>
</div>


<div class="container">
	<div class="row">
		<div class="col-lg-12">
			@if (IsSectionDefined("BreadCrumb")){
				@RenderSection("BreadCrumb",false)	
			}
			else {
				@*default breadcrumb if one is not defined below, rewrite as partial view*@
				@Html.Partial("ulgBreadcrumb")
				@*Umbraco.RenderMacro("ulg.breadcrumb")	*@
			}
		</div>
	</div>
</div>
	
<div class="container">
	@RenderBody()
</div>
	
<div class="container">
	@RenderSection("Footer")
	<div class="row">
        <div class="col-lg-12">
            <div class="well">
                <div class="col-sm-6">
                    <ul class="list-unstyled">
                        <li><a href="/">Jobs</a></li>
                        <li><a href="/">Contact</a></li>
                        <li><a href="/">Accessibility</a></li>
                        <li><a href="/">Cookies</a></li>
                    </ul>
                </div>
		        <div class="col-sm-6">
                    <div class="pull-right">
                        <!-- social media icons ? -->
                        LocalGov MVC Starterkit, 2013
                    </div>
			    </div>
                <div class="clearfix"></div>
            </div>
        </div>
	</div>
</div>

@section Scripts {
    <script src="/Scripts/libs/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/libs/bootstrap.min.js"></script>

    <!-- mega menu -->
    <script src="/Scripts/libs/jquery.hoverIntent.minified.js"></script>
    <script src="/Scripts/ulgMegaMenu.js"></script>

	@RenderSection("Scripts",false)	
}