@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ulgSideNavPages.cshtml";
}

		
<div class="page-header">
    <h1>@Umbraco.Field("title") <small>@Umbraco.Field("articleDate", formatAsDate: true)</small></h1>
</div>

@* we should have a partial view which encapsulates all the logic to display a cropped image *@
@{ 
    bool hasImage = false;
    string imageUrl = "http://placehold.it/300x200";
	string imageAltText = String.Empty;
}

@if (Model.Content.HasProperty("relatedImage") && Model.Content.HasValue("relatedImage"))
{
    hasImage = true;
    var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("relatedImage"));
    if (mediaItem != null)
    {
        imageUrl = mediaItem.GetPropertyValue<string>("umbracoFile");
        imageAltText = mediaItem.GetPropertyValue<string>("alternativeText");
        
        if (String.IsNullOrEmpty(imageAltText))
        {
            imageAltText = mediaItem.Name;
        }
    }
}   

@if (hasImage){
	<div class="pull-left">
		<img src="@imageUrl" alt="@imageAltText" width="300px" height="200px" class="thumbnail news-image"/></div>
}		

@Umbraco.Field("bodyText")
@Html.Partial("ulgDisplayNewsTags",Model.Content)

@section AltSection {
    @Html.Partial("ulgNewsArchive")			
}