@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ulgDesign.cshtml";
}

@section MetaData {
	
	
}


	<div class="row">

		<div class="col-lg-6">
		
				<div class="page-header">
				<h1>@Umbraco.Field("title")</h1>
				</div>
					@Umbraco.Field("bodyText")
				
	
		</div>
		<div class="col-lg-6">
			
			<div id="map_canvas" 
				class="venue-map" style="width:auto;height:500px" 
					data-name="@Umbraco.Field("title")" 
					data-venueType="@Umbraco.Field("venueType")"
					data-location="@Umbraco.Field("venueLocation")"
					data-mapzoom="@Umbraco.Field("venueLocation")"
					data-venueAddress="@Umbraco.Field("venueAddress")">
			</div>

			@Html.Partial("ulgRelatedLinks")

            @Html.Partial("ulgContactLinks")  			
		</div>
	</div>


	
			@section Footer {
				
				
			}
@section Scripts {
	  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="/scripts/ulgGoogleMapFunctions.js"></script>



  <script type="text/javascript">
  $(document).ready(function() {
  LoadGoogleMapsApiWithCallBack('AddVenueToGoogleMap');


});
  </script>

}