@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@*Need to get all news on site ordered by date, promoted to the current site node, what about stickyness ?*@

@{
    
    var allNews = Umbraco.TypedContentAtXPath("//ulgNewsItem").Where(x=>x.IsVisible() && x.GetPropertyValue<DateTime>("articleDate") < DateTime.Now && x.GetPropertyValue<string>("newsLocation").Split(new Char[]{','}, StringSplitOptions.RemoveEmptyEntries).Contains(Model.Content.Id.ToString()) ).OrderByDescending(x=>x.GetPropertyValue<DateTime>("articleDate")).Take(5);
  
    
}

@if (allNews.Any())
{
    <div class="news">
		<h2>News</h2>
        <div id="carousel-news" class="carousel slide">
            <div class="carousel-inner">
            @foreach(IPublishedContent newsItem in allNews) 
            {
                bool hasImage = false ; 
                string imageUrl = String.Empty ; 
                string imageAltText = String.Empty ;
                DateTime articleDate = newsItem.GetPropertyValue<DateTime>("articleDate");
                
                if ( newsItem.HasProperty("relatedImage") && newsItem.HasValue("relatedImage"))
                {
                    var mediaItem = Umbraco.TypedMedia(newsItem.GetPropertyValue("relatedImage"));
                    hasImage = true ; 
                    imageUrl = mediaItem.GetPropertyValue<string>("umbracoFile");
                    imageAltText = mediaItem.GetPropertyValue<string>("alternativeText");

                    if (String.IsNullOrEmpty(imageAltText))
                    {
                        imageAltText = mediaItem.Name;
                    }
                }
                String first = @newsItem.IsFirst() ? "active" : ""; 
                
                <div class="item @first">
                    @if (hasImage) {
                        <a href="@newsItem.Url">
                            <img src="@imageUrl" alt="@imageAltText" />
                        </a>
                    }
                    <div class="carousel-caption">
                        <h3><a href="@newsItem.Url">@newsItem.GetPropertyValue("title")</a></h3>
                        <p>@newsItem.GetPropertyValue("newsSummary") 
                            <a href="@newsItem.Url">Read on...</a>
                        </p>
                    </div>
                </div>
            }
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-news" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-news" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
		<a href="/news/">More...</a>
    </div>
}   
