@using System.Linq;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@* 
 build the "straight to" and "more" links on a landing page.
*@

              
@{
    @* setup parameters and default values *@
    int mainCount;
    string mainName = umbraco.library.GetDictionaryItem("MainSection");
    string moreName = umbraco.library.GetDictionaryItem("MoreSection"); 
        
  
    if ( !Int32.TryParse(ViewData["mainCount"].ToString(), out mainCount)) { mainCount = 6; }
    if (ViewData["mainName"]!= null) { mainName = ViewData["mainName"].ToString(); }
    if (ViewData["moreName"]!= null) { moreName = ViewData["moreName"].ToString(); }
	
    @*
     setup row type, normally we have three items per line
     but if we have 2 or 4 then we have 2 items per line
    *@
    var grid = "col-lg-4 col-md-6" ;
    int itemsPerRow = 3; 
    if ( (mainCount % 2 == 0) && (mainCount < 6 ) ) { 
        grid = "col-lg-6 col-md-6" ;
        itemsPerRow = 2;
  }
}

@* render the main section *@ 
<div class="row">
	<div class="col-lg-12">
    	<h2>@mainName</h2>
	</div>
</div>
		
<div class="row">

@foreach (var item in Model.Content.Children().Where(x => x.IsVisible() && x.DocumentTypeAlias != "ulgSectionHomepage").Take(mainCount))
{

    if ( item.IsModZero(itemsPerRow) )
    {
        @* if we are at the end of a row - clear to start the next *@
        
    }

    @* the landing item *@                
    <div class="@grid">
        <div class="landing-item">
            <a class="landing-link" href="@item.Url">
				<i class="icon icon-large icon-@item.GetPropertyValue("relatedIcon")"></i>
                <h3>@item.GetPropertyValue("title")</h3>
                <span class="landing-text">
                    @item.GetPropertyValue("summary")
                </span>
            </a>
        </div>
    </div>
}

</div>

@* 
 if there are more elements we place them in the more list
 at the bottom of the section 
*@
@if (@Model.Content.Children().Where(x => x.IsVisible() && x.DocumentTypeAlias != "ulgSectionHomepage").Count() > mainCount)
{
    <div class="row">
        <div class="col-lg-12">
            <h2>@moreName</h2>
        </div>
	</div>
	<div class="row">
        <div class="col-lg-12">
            <ul class="landing-more nav nav-pills">
                @foreach (var item in @Model.Content.Children.Where(x => x.IsVisible() && x.DocumentTypeAlias != "ulgSectionHomepage").Skip(mainCount))
                {
                    <li><a href="@item.Url">@item.GetPropertyValue("title")</a></li>
                }
            </ul>
        </div>
    </div>
}
